.ol-index-content {
  margin-top: 75px;
}

.ol-header-brand {
  height: 100%;
}


.ol-slider {
  h3 {
    background: none repeat scroll 0 0 #3498db;
    color: #ffffff;
    font-size: 36px;
    line-height: 100px;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
  }
}

 #owl-demo .item{
    background: #42bdc2;
    padding: 30px 0px;
    margin: 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
  }

   #owl-demo2 .item{
      background: #42bdc2;
      padding: 30px 0px;
      margin: 10px;
      color: #FFF;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      text-align: center;
    }
