.ol-index-content {
  margin-top: 75px;
}

.ol-header-brand {
  height: 100%;
}


.ol-slider {
  h3 {
    background: none repeat scroll 0 0 #3498db;
    color: #ffffff;
    font-size: 36px;
    line-height: 100px;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
  }
}

.ol-carrusel-categoria{ color:#c2c2c2; font-style:italic;}

.ol-carrusel-nombre{ font-size: 15px; color:#fff;}

 #owl-demo .item{
    padding: 30px 0px;
    margin: 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #4e5d6c;
  }

   #owl-demo2 .item{
     padding: 30px 0px;
     margin: 10px;
     color: #FFF;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;
     text-align: center;
     border-style: solid;
     border-width: 1px;
     border-color: #4e5d6c;
    }

    #owl-demo3 .item{
    margin: 3px;
  }
  #owl-demo3 .item img{
    display: block;
    width: 100%;
    height: auto;
  }

.ol-title-topcarrousel { color: #fff;text-decoration: none;  }
.ol-title-topcarrousel:focus { color: #fff;   text-decoration: none;  }
.ol-title-topcarrousel:hover { color: #fff;text-decoration: none;  }
